# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Home Assistant
.HA_VERSION
.cache/
.ha_run.lock
*.log
*.log.fault
*.db
*.db-shm
*.db-wal
home-assistant_v2.db*
zigbee.db*
.storage/
tts/
.cloud/
deps/
__pycache__/
*.pyc
secrets.yaml
known_devices.yaml
image/

# HACS (reinstalled automatically)
www/community/
custom_components/

# Backups
backups/
*.bak

#Developmen
~dev/